.communityContainer{
    height:100vh;
    
    
    /* border: 1px solid black; */
    /*
    --check. <21.05.09>
    필요없는 부분
    */

}

.div4Absolute{
    position:absolute;
    top:55px;
    left:0;
    right:0;
    display:flex;
    justify-content: center;
    height:100%;
	z-index:1;
}

.communitySideBar {
    
    display:flex;
    flex-direction: column;
    align-content: center;

    font-size: 14px;
    
    /*
    color reference
    https://in.pinterest.com/pin/28006828920022766/?d=t&mt=login
    */

    border-left: 3px solid #814d2e;
    /*
    --check. <21.05.09>
    필요없는 부분
    */

    
    padding:5px;

}

.sideBarBtn{
    margin: 5px 0;
    width:100%;
    padding: 4px 16px;
    background-color: #e09e50; 
    color:white;
    border:none;
    border-radius: 4px;
    font-size:1.5em;
    font-family: 'Nanum Pen Script', cursive;

    cursor: pointer;
}

.sideBarBtn:hover{
    background-color: #7A431D;
}



.articleBoard{
    margin: 10px auto;
}

.communitySideBar ul{
    list-style: none;

}

.communitySection{
    
    width:756px; /* 768 - 10 - 2 */


    padding:5px;
    /* border: 1px solid black; */
    /*--check. 해당 선은 필요 없긴하다*/

    padding: 5px 10px;

    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    
    align-items: center;
    z-index:-1;
}

.communitySection table{

    
    width :100%;
    border-collapse: collapse;
    border-top: 1px solid gray;
    margin-bottom:10px;
    
}

.communitySection th {
    padding:2px 3px;
    font-size:0.7em;
}

.communitySection td{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    font-size: 0.7em;
    padding: 2px 3px;

    text-align: center;

    min-width: 35.2px;
}


.communitySection td{
}

.articleTitle{
    width:390px;
}

.articleAuthor{
    width:75px;
}

.pagenationBox{
    margin:0px auto;
    width:10vh;
}

.pagenation{
    display:flex;
    justify-content: space-between;
    list-style: none;
    padding: 8px 12px;
}

.pagenation a{
    text-decoration: none;
}

.board{
    margin:5px auto;
}

@media screen and (max-width:768px) {

    .communitySection{
        width:90%;
        padding:5%;
        
        border-bottom: 3px solid #814d2e
    }
    .communityContainer{
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .pagenation li{
        padding: 0px 5px;
    }

    .communitySection th{
        font-size:14px;

    }

    .communitySideBar{
        border-left: none;
    }

    .div4Absolute{
        top:44px;
        
        flex-direction: column;
        align-items: center;
    }
}
