@charset "UTF-8";

body{
    background-image: url("../img/page/IS7drN.png");
    background-size:cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.findIdBody{
	width: 396px;
    display:flex;
    flex-direction: column;

    border-radius: 25px;
    background-color: gray; /*�깋源붿씠 蹂꾨줈�엫*/
    opacity: 0.7;
    /*color reference: <21.05.09> by KH
    https://in.pinterest.com/pin/28006828920022766/?d=t&mt=login
    */
}

.inputFlex{
    display: flex;   
    flex-direction: column;
}

.logo{
    border-radius: 25px 25px 0 0;
    font-size:50px;
    font-family: 'Nanum Pen Script', cursive;
    
    color:white;
    background-color: #302718;

    padding: 6px 0 ;

    text-align:center;

}

.logo a{
    text-decoration: none;
    color:white;
}

.inputUnit{
    padding:14px 5px;
    margin: 0 26px;

    color:white;

    display:flex;
    flex-direction: column;
}

.rowFlex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.inputFormat{
    padding:8px 12px; 
    border-radius:8px;
}

.emailInput{
	width:45%;
}

.eMail{
    display:flex;
    flex-direction: column;
    color:white;
}

.eMail label{
    margin-top:20px;
    margin-bottom:10px;
}

.eMailInput{
    display: flex;
    justify-content: space-between;
}

.findIdBtn{
    width:100%;
    color:black;
    font-size: 25px;
    text-align: center;
    margin:0 auto;
    display:block;
    cursor: pointer;
    padding:1px 12px;
    text-decoration:none;   

    margin: 5px auto;

    margin-bottom: 30px;

    
    font-family: 'Nanum Pen Script', cursive;
}