body{
    background-image: url("../img/page/IS7drN.png");
    background-size:cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInBody{
    width: 396px;
    display:flex;
    flex-direction: column;

    border-radius: 25px;
    background-color: gray; /*색깔이 별로임*/
    opacity: 0.7;
    /*color reference: <21.05.09> by KH
    https://in.pinterest.com/pin/28006828920022766/?d=t&mt=login
    */
}

.inputFlex{
    display: flex;   
    flex-direction: column;

}
.logo{
    border-radius: 25px 25px 0 0;
    font-size:50px;
    font-family: 'Nanum Pen Script', cursive;
    
    color:white;
    background-color: #302718;

    padding: 6px 0 ;

    text-align:center;

}

.logo a{
    text-decoration: none;
    color:white;
}


.inputUnit{
    padding:14px 5px;
    margin: 0 26px;

    color:white;

    display:flex;
    flex-direction: column;
    
 
}

.rowFlex{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.inputIDPW{
    padding:8px 12px; 
    border-radius:8px;
}

.logInButton{
    width:100%;
    color:black;
    font-size: 25px;
    text-align: center;
    margin:0 auto;
    display:block;
    cursor: pointer;
    padding:1px 12px;
    text-decoration:none;   

    margin: 5px auto;

    
    font-family: 'Nanum Pen Script', cursive;
}

.checkingUserBox{
    display:flex;
    list-style: none;
    justify-content: space-around  ;
    padding:0;

    margin-top:20px;
    margin-bottom: 20px;
}

